<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pri.yqx.comment.mapper.SonCommentMapper">
    <update id="plusGoodJobNum">
        update wx_comment_son set good_job_num=good_job_num+#{num} where son_comment_id=#{commentId};
    </update>
    <update id="substractGoodJobNum">
        update wx_comment_son set good_job_num=good_job_num-#{num} where son_comment_id=#{commentId};
    </update>


    <select id="getCommentSons" resultType="pri.yqx.comment.domain.entity.CommentSon">
        select *   from (select *, ROW_NUMBER() over (partition by comment_id order by son_comment_id DESC ) as num from wx_comment_son) s where s.comment_id  in
        <foreach collection="commentIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach> and s.num &lt;= #{size};
    </select>

</mapper>